<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="stylesheets/style.css" rel="stylesheet">
        <title><%= title %></title>
    </head>
    <body>

        <div id="option">
        </div>

        <div class="info">
            <p>'enter' to start</p>
            <p>'escape' to reset</p>
            <p>'+' or '-' to change speed</p>
        </div>

        <div id="main">

        </div>

        <script src="javascripts/solo.js"></script>

    </body>

</html>